@page "{id:Guid?}"
@using Sbeap.WebApp.Pages.Shared.DisplayTemplates
@using Sbeap.WebApp.Pages.Shared.EditorTemplates
@model DeleteModel

@{
    ViewData["Title"] = "Delete Case";
    ViewData["NoAnchors"] = "True";
}

<h1>
    <em>Confirm</em>
    @ViewData["Title"]
</h1>

<div class="p-3 border rounded-3 bg-dark-subtle text-dark-emphasis">
    <p class="lead text-danger-emphasis font-weight-medium">Are you sure you want to delete this Case?</p>

    <div class="container small">
        <dl class="row">
            <dt class="col-md-4 col-lg-3">Customer</dt>
            <dd class="col-md-8 col-lg-9">@Html.DisplayFor(m => m.Item.Customer.Name, DisplayTemplate.StringOrNotEntered)</dd>
            <dt class="col-md-4 col-lg-3">@Html.DisplayNameFor(m => m.Item.IsClosed)</dt>
            <dd class="col-md-8 col-lg-9">@Html.DisplayFor(m => m.Item.IsClosed, DisplayTemplate.BoolClosed)</dd>
            <dt class="col-md-4 col-lg-3">@Html.DisplayNameFor(m => m.Item.CaseOpenedDate)</dt>
            <dd class="col-md-8 col-lg-9">@Html.DisplayFor(m => m.Item.CaseOpenedDate, DisplayTemplate.DateOnlyOrNotEntered)</dd>
            @if (Model.Item.IsClosed)
            {
                <dt class="col-md-4 col-lg-3">@Html.DisplayNameFor(m => m.Item.CaseClosedDate)</dt>
                <dd class="col-md-8 col-lg-9">@Html.DisplayFor(m => m.Item.CaseClosedDate, DisplayTemplate.DateOnlyOrNotEntered)</dd>
            }
            <dt class="col-md-4 col-lg-3">@Html.DisplayNameFor(m => m.Item.Description)</dt>
            <dd class="col-md-8 col-lg-9 text-break text-pre-line">@Html.DisplayFor(m => m.Item.Description, DisplayTemplate.TruncateText, new { MaxLength = 100 })</dd>
        </dl>
    </div>

    <hr>
    <form method="post">
        <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>

        <div class="mb-3">
            @Html.EditorFor(e => e.DeleteComments, EditorTemplate.Textarea, new { Rows = 1 })
        </div>

        <div class="mt-3 mb-1">
            <button type="submit" class="btn btn-danger col-5 col-sm-3 col-lg-2 me-2">Delete</button>
            <a asp-page="Details" asp-route-id="@Model.Id.ToString()" class="btn btn-outline-secondary">Cancel</a>
        </div>
        <input asp-for="Id" type="hidden" />
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
