@page "~/Cases/EditAction/{actionId:guid?}"
@using Sbeap.WebApp.Pages.Shared.DisplayTemplates
@using Sbeap.WebApp.Pages.Shared.EditorTemplates
@model EditActionModel
@{
    ViewData["Title"] = "Edit Action Item";
    ViewData["NoAnchors"] = "True";
}

<h1>@ViewData["Title"]</h1>

<h2 class="h3">For Case</h2>

<div class="container mt-3">
    <dl class="row">
        <dt class="col-md-4 col-lg-3">@Html.DisplayNameFor(m => m.CaseView.CustomerName)</dt>
        <dd class="col-md-8 col-lg-9">@Html.DisplayFor(m => m.CaseView.CustomerName, DisplayTemplate.StringOrNotEntered)</dd>
        <dt class="col-md-4 col-lg-3">@Html.DisplayNameFor(m => m.CaseView.CaseOpenedDate)</dt>
        <dd class="col-md-8 col-lg-9">@Html.DisplayFor(m => m.CaseView.CaseOpenedDate, DisplayTemplate.DateOnly)</dd>
    </dl>
</div>

<div class="p-3 border rounded-3 bg-light-subtle">
    <form method="post" asp-fragment="@Model.ActionId">
        <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>

        <div class="row mt-2">
            <div class="col-md-6 col-lg-8 mb-3">
                @Html.EditorFor(e => e.ActionItemUpdate.ActionItemTypeId, EditorTemplate.Select, new { Items = Model.ActionItemTypeSelectList })
            </div>
            <div class="col-md-6 col-lg-4 mb-3">
                @Html.EditorFor(e => e.ActionItemUpdate.ActionDate, EditorTemplate.InputDateOnly)
            </div>
        </div>
        <div class="row">
            <div class="mb-3">
                @Html.EditorFor(e => e.ActionItemUpdate.Notes, EditorTemplate.Textarea, new { Rows = 3 })
            </div>
        </div>

        <div class="mt-3 mb-1">
            <button id="SubmitButton" type="submit" class="btn btn-primary col-6 col-sm-4 col-lg-3 me-2">Save Changes</button>
            <a asp-page="Details" asp-route-id="@Model.CaseView.Id.ToString()" asp-fragment="actions" class="btn btn-outline-secondary">Cancel</a>
        </div>
        <div class="text-danger-emphasis mt-3">* denotes a required field</div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
