@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Account Error";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="text-danger">
    There was an error creating your account.If you need assistance related to this error,
    please contact EPD IT support.
</p>

<div asp-validation-summary="ModelOnly" class="usa-alert usa-alert-error" role="alert"></div>

@if (Model.DisplayFailedUser is not null)
{
    <div class="p-3 border rounded-3 bg-light">
        <p>Data received from work account (for diagnostic purposes):</p>
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(m => Model.DisplayFailedUser.Email)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => Model.DisplayFailedUser.Email)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => Model.DisplayFailedUser.UserName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => Model.DisplayFailedUser.UserName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => Model.DisplayFailedUser.Active)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => Model.DisplayFailedUser.Active)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => Model.DisplayFailedUser.LastName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => Model.DisplayFailedUser.LastName)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(m => Model.DisplayFailedUser.FirstName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(m => Model.DisplayFailedUser.FirstName)</dd>
        </dl>
    </div>
}
