@page
@using Sbeap.Domain.ValueObjects
@using Sbeap.WebApp.Pages.Shared.EditorTemplates
@model AddModel
@{
    ViewData["Title"] = "Add A New Customer";
    ViewData["NoAnchors"] = "True";
    var phoneTypesSelectList = Html.GetEnumSelectList<PhoneType>().ToArray();
}

<h1>@ViewData["Title"]</h1>

<div class="p-3 border rounded-3 bg-light-subtle">
    <form method="post">
        <div asp-validation-summary="All" class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi me-2" role="img" aria-label="Danger:">
                <use href="@Url.Content("~/images/app-icons.svg")#app-icon-exclamation-triangle-fill"></use>
            </svg>
        </div>

        <div class="mb-1">
            <h2 class="visually-hidden">Customer Details</h2>

            <div class="row">
                <div class="col-md-6 col-lg-4 mb-3">
                    @Html.EditorFor(e => e.Item.Name, EditorTemplate.Input)
                </div>
                <div class="col-md-6 col-lg-4 mb-3">
                    @Html.EditorFor(e => e.Item.County, EditorTemplate.SelectOptional, new { Items = AddModel.CountiesSelectList })
                </div>
                <div class="col-md-12 col-lg-4 mb-3">
                    @Html.EditorFor(e => e.Item.Website, EditorTemplate.Input)
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 mb-3">
                    @Html.EditorFor(e => e.Item.Description, EditorTemplate.Textarea, new { Rows = 3 })
                </div>
                <div class="col-lg-4 mb-3">
                    @Html.EditorFor(e => e.Item.SicCodeId, EditorTemplate.SelectOptional, new { Items = Model.SicSelectList })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <h3 class="h5">Site Location <small class="text-body-secondary">(optional)</small></h3>

                <div class="mb-3">
                    @Html.EditorFor(e => e.Item.Location.Street, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.Item.Location.Street2, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.Item.Location.City, EditorTemplate.Input)
                </div>
                <div class="input-group">
                    @Html.EditorFor(e => e.Item.Location.State, EditorTemplate.SelectOptional, new { Items = AddModel.StatesSelectList })
                    @Html.EditorFor(e => e.Item.Location.PostalCode, EditorTemplate.Input)
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="row justify-content-between align-items-baseline g-0 mb-2">
                    <h3 class="h5 col-md mb-md-0">
                        Site Mailing Address <small class="text-body-secondary me-1">(optional)</small>
                    </h3>
                    <div class="col-md-auto d-print-none ms-md-3">
                        <button id="copy-site-location" type="button" class="btn btn-outline-info btn-sm my-1">Copy From Location</button>
                    </div>
                </div>

                <div class="mb-3">
                    @Html.EditorFor(e => e.Item.MailingAddress.Street, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.Item.MailingAddress.Street2, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.Item.MailingAddress.City, EditorTemplate.Input)
                </div>
                <div class="input-group">
                    @Html.EditorFor(e => e.Item.MailingAddress.State, EditorTemplate.SelectOptional, new { Items = AddModel.StatesSelectList })
                    @Html.EditorFor(e => e.Item.MailingAddress.PostalCode, EditorTemplate.Input)
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <h2>Contact <small class="text-body-secondary">(optional)</small></h2>
            <p class="form-text text-info">Additional contacts can be added later.</p>

            <div class="col-md-6">
                <h3 class="h5 d-none d-md-block">Personal Info</h3>
                <p class="form-text"><span class="text-danger-emphasis">*</span> At least a name or title must be entered in order to create a contact.</p>
                <div class="input-group mb-3">
                    @Html.EditorFor(e => e.Item.Contact.Honorific, EditorTemplate.Input)
                    @Html.EditorFor(e => e.Item.Contact.GivenName, EditorTemplate.Input)
                    @Html.EditorFor(e => e.Item.Contact.FamilyName, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.Item.Contact.Title, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.Item.Contact.Email, EditorTemplate.Input)
                </div>
                <div class="form-text text-info mb-1">Additional phone numbers can be added later.</div>
                <div class="input-group mb-3">
                    @Html.EditorFor(e => e.Item.Contact.PhoneNumber.Number, EditorTemplate.Input)
                    @Html.EditorFor(e => e.Item.Contact.PhoneNumber.Type, EditorTemplate.SelectOptional, new { Items = phoneTypesSelectList })
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.Item.Contact.Notes, EditorTemplate.Textarea)
                </div>
            </div>

            <div class="col-md-6">
                <div class="row justify-content-between align-items-baseline g-0 mb-2">
                    <h3 class="h5 col-md mb-md-0">
                        Mailing Address <small class="text-body-secondary me-1">(optional)</small>
                    </h3>
                    <div class="col-md-auto d-print-none ms-md-3">
                        <button id="copy-site-address" type="button" class="btn btn-outline-info btn-sm my-1">Copy From Site</button>
                    </div>
                </div>

                <div class="mb-3">
                    @Html.EditorFor(e => e.Item.Contact.Address.Street, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.Item.Contact.Address.Street2, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.Item.Contact.Address.City, EditorTemplate.Input)
                </div>
                <div class="input-group">
                    @Html.EditorFor(e => e.Item.Contact.Address.State, EditorTemplate.SelectOptional, new { Items = AddModel.StatesSelectList })
                    @Html.EditorFor(e => e.Item.Contact.Address.PostalCode, EditorTemplate.Input)
                </div>
            </div>
        </div>

        <div class="mt-3 mb-1">
            <button id="SubmitButton" type="submit" class="btn btn-primary col-6 col-sm-4 col-lg-3 me-2">Add New Customer</button>
            <a asp-page="Index" class="btn btn-outline-secondary">Cancel</a>
        </div>
        <div class="text-danger-emphasis mt-3">* denotes a required field</div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/copyAddress.js"></script>
    <script src="~/js/copyLocation.js"></script>
}
