@page "~/Customers/EditContact/{id:guid?}"
@using GaEpd.AppLibrary.Extensions
@using Sbeap.Domain.ValueObjects
@using Sbeap.WebApp.Pages.Shared.DisplayTemplates
@using Sbeap.WebApp.Pages.Shared.EditorTemplates
@using Sbeap.WebApp.Platform.Constants
@model EditContactModel
@{
    ViewData["Title"] = "Edit Contact";
    ViewData["NoAnchors"] = "True";
    var phoneTypesSelectList = Html.GetEnumSelectList<PhoneType>().ToArray();
}

<h1>@ViewData["Title"] for Customer</h1>

<div class="container mt-3">
    <dl class="row">
        <dt class="col-md-4 col-lg-3">Customer Name</dt>
        <dd class="col-md-8 col-lg-9">@Html.DisplayFor(m => m.CustomerView.Name, DisplayTemplate.StringOrNotEntered)</dd>
        <dt class="col-md-4 col-lg-3">@Html.DisplayNameFor(m => m.CustomerView.Description)</dt>
        <dd class="col-md-8 col-lg-9">@Html.DisplayFor(m => m.CustomerView.Description, DisplayTemplate.TruncateText)</dd>
        <dt class="col-md-4 col-lg-3">@Html.DisplayNameFor(m => m.CustomerView.County)</dt>
        <dd class="col-md-8 col-lg-9">@Html.DisplayFor(m => m.CustomerView.County, DisplayTemplate.County)</dd>
    </dl>
</div>

<form method="post">
    <div class="p-3 border rounded-3 bg-light-subtle mb-3">
        @if (Model.Handler == EditContactModel.Handlers.EditContact)
        {
            <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>
        }

        <div class="row mt-2">
            <p class="form-text"><span class="text-danger-emphasis">*</span> At least a name or title must be included in order to save a contact.</p>

            <div class="col-md-6">
                <h3 class="h5">Personal Info</h3>
                <div class="input-group mb-3">
                    @Html.EditorFor(e => e.ContactUpdate.Honorific, EditorTemplate.Input)
                    @Html.EditorFor(e => e.ContactUpdate.GivenName, EditorTemplate.Input)
                    @Html.EditorFor(e => e.ContactUpdate.FamilyName, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.ContactUpdate.Title, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.ContactUpdate.Email, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.ContactUpdate.Notes, EditorTemplate.Textarea, new { Rows = 5 })
                </div>
            </div>

            <div class="col-md-6">
                <h3 class="h5">Mailing Address <small class="text-body-secondary me-1">(optional)</small></h3>

                <div class="mb-3">
                    @Html.EditorFor(e => e.ContactUpdate.Address.Street, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.ContactUpdate.Address.Street2, EditorTemplate.Input)
                </div>
                <div class="mb-3">
                    @Html.EditorFor(e => e.ContactUpdate.Address.City, EditorTemplate.Input)
                </div>
                <div class="input-group">
                    @Html.EditorFor(e => e.ContactUpdate.Address.State, EditorTemplate.SelectOptional, new { Items = Model.StatesSelectList })
                    @Html.EditorFor(e => e.ContactUpdate.Address.PostalCode, EditorTemplate.Input)
                </div>
            </div>
        </div>

        <div class="mt-3 mb-1">
            <button asp-page-handler="SaveContact" asp-fragment="@Model.ContactUpdate.Id" id="SubmitButton" type="submit" class="btn btn-primary col-6 col-sm-4 col-lg-3 me-2">Save Changes</button>
            <a asp-page="Details" asp-route-id="@Model.CustomerView.Id.ToString()" asp-fragment="contacts" class="btn btn-outline-secondary">Cancel</a>
        </div>
        <div class="text-danger-emphasis mt-3">* denotes a required field</div>
    </div>

    <div class="p-3 border rounded-3 bg-light-subtle" id="phone-numbers">
        <h3 class="h5 mb-3">Phone Numbers</h3>
        @if (Model.PhoneNumberMessage != null)
        {
            <div class="alert @Model.PhoneNumberMessage.AlertClass alert-dismissible fade show" role="alert">
                @Model.PhoneNumberMessage.Message
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        @if (Model.ContactUpdate.PhoneNumbers.Count != 0 && !Model.ContactUpdate.PhoneNumbers.All(e => string.IsNullOrWhiteSpace(e.Number)))
        {
            foreach (var number in Model.ContactUpdate.PhoneNumbers)
            {
                <div class="mb-3">
                    <button asp-page-handler="DeletePhoneNumber" asp-fragment="phone-numbers"
                            name="phoneNumberId" value="@number.Id.ToString()"
                            class="btn btn-sm btn-outline-danger lh-1 align-bottom px-1 py-1"
                            title="Delete phone number">
                        🗙 <span class="visually-hidden">Delete</span>
                    </button>
                    @number.Number
                    @if (number.Type != null)
                    {
                        <em>(@number.Type.Value.GetDisplayName())</em>
                    }
                </div>
            }
        }

        @if (Model.Handler == EditContactModel.Handlers.PhoneNumber)
        {
            <div asp-validation-summary="All" class="alert alert-danger" role="alert"></div>
        }
        <div class="mt-3 mb-1">
            <h4 class="h6">Add a Phone Number</h4>

            <div class="row col-md-6 mb-3">
                <div class=" input-group">
                    <input asp-for="NewPhoneNumber.Number" class="form-control" aria-label="Phone number" placeholder="Phone number" />
                    <select asp-for="NewPhoneNumber.Type" asp-items="phoneTypesSelectList" class="form-select">
                        <option value="">@TextConstants.SelectTextRequiredType</option>
                    </select>
                    <button asp-page-handler="AddPhoneNumber" asp-fragment="phone-numbers" name="AddPhoneNumberButton" type="submit" class="btn btn-sm btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
    <input asp-for="ContactUpdate.Id" type="hidden">
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
