@page
@using Sbeap.Domain.Identity
@using Sbeap.WebApp.Pages.Shared.DisplayTemplates
@model IndexModel
@{
    ViewData["Title"] = $"Site Maintenance: {IndexModel.ThisOption.PluralName}";
}

<p>
    <a asp-page="../Index">← Site Maintenance</a>
</p>

<h1>@IndexModel.ThisOption.PluralName</h1>

<p class="lead">
    The @IndexModel.ThisOption.PluralName listed below are available for selection in
    @IndexModel.ThisOption.SingularName dropdown lists.
</p>

@if (Model.IsSiteMaintainer)
{
    <p>
        <a asp-page="Add" class="btn btn-outline-primary btn-sm">Add New</a>
    </p>
}

<p id="table-description">
    The &ldquo;@AppRole.SiteMaintenanceRole.DisplayName&rdquo; role is needed to add or edit @IndexModel.ThisOption.PluralName.
    @if (Model.IsSiteMaintainer)
    {
        @:Select an item to edit it. Setting an item as &ldquo;inactive&rdquo; makes it unavailable for future use but does not
        @:affect any existing use.
    }
</p>

@if (Model.Items.Count == 0)
{
    <em class="text-muted">None</em>
}
else
{
    <table class="table" aria-describedby="table-description">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Active</th>
            <th scope="col">
                <span class="visually-hidden">Actions</span>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr class="@(item.Id == Model.HighlightId ? "list-group-item-warning" : !item.Active ? "bg-secondary bg-opacity-25" : "")">
                <td>
                    @if (item.Id == Model.HighlightId)
                    {
                        @:👉
                    }
                    @Html.DisplayFor(m => item.Name, "StringOrNone")
                </td>
                <td>
                    @Html.DisplayFor(m => item.Active, DisplayTemplate.BoolActive)
                </td>
                <td>
                    @if (Model.IsSiteMaintainer)
                    {
                        <a asp-page="Edit" asp-route-id="@item.Id.ToString()" class="btn btn-outline-primary btn-sm">Edit</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}
